---
title: Electron Spin
---

#particles-js

.on-a-mission
  .container
    %h1 On A Mission
    %p
      / You're all set!
      / <a href="http://github.com/thoughtbot/proteus-middleman">Let's get started</a>
      / building your prototype.
      Stay Tuned
